OPENSOURCELANGUAGE="EN"
DEBUG="false"
DAYZSERVERPROFILELOCATION=""
DAYZSERVERMISSION="chernarusplus"
DISCORDWEBHOOKSLINKS=""
DISCORDWEBHOOKSNAME=""
DISCORDWEBHOOKSICONURL=""
REALDATE="false"

PLAYER="true"
PLAYERINLINE="false"

PLAYERID="true"
PLAYERIDINLINE="false"

MESSAGE="true"
MESSAGEINLINE="false"

PLAYERPOSITION=""
PLAYERPOSITIONINLINE="false"

PLAYERHP="true"
PLAYERHPINLINE="false"

AUTHOR="true"
AUTHORINLINE="false"

AUTHORID="true"
AUTHORIDINLINE="false"

AUTHORPOSITION="true"
AUTHORPOSITIONINLINE="false"

PARTBODY="true"
PARTBODYINLINE="false"

HPREMOVED="true"
HPREMOVEDINLINE="false"

BALLUSED="true"
BALLUSEDINLINE="false"

WEAPONUSED="true"
WEAPONUSEDINLINE="false"

DISTANCEMETERS="true"
DISTANCEMETERSINLINE="false"

OBJECT="true"
OBJECTINLINE="false"

TOOL="true"
TOOLINLINE="false"

WATER="true"
WATERINLINE="false"

ENERGY="true"
ENERGYINLINE="false"

BLEEDSOURCES="true"
BLEEDSOURCESINLINE="false"

TOTALPLAYERS="true"
TOTALPLAYERSINLINE="false"

PLAYERLISTLINKS="true"
PLAYERLISTLINKSINLINE="false"

CONNECTED="true"
CONNECTEDDISCORDWEBHOOKS="true"
CONNECTEDDISCORDWEBHOOKSLINKS=""
CONNECTEDDISCORDWEBHOOKSNAME=""
CONNECTEDDISCORDWEBHOOKSICONURL=""
CONNECTEDCOLOR="#00E04F"
CONNECTEDINLINE="false"

DISCONNECTED="true"
DISCONNECTEDDISCORDWEBHOOKS="true"
DISCONNECTEDDISCORDWEBHOOKSLINKS=""
DISCONNECTEDDISCORDWEBHOOKSNAME=""
DISCONNECTEDDISCORDWEBHOOKSICONURL=""
DISCONNECTEDCOLOR="#FF3A3A"
DISCONNECTEDINLINE="false"

CHAT="true"
CHATDISCORDWEBHOOKS="true"
CHATDISCORDWEBHOOKSLINKS=""
CHATDISCORDWEBHOOKSNAME=""
CHATDISCORDWEBHOOKSICONURL=""
CHATCOLOR="#0088F1"
CHATINLINE="false"

CONSCIOUS="true"
CONSCIOUSDISCORDWEBHOOKS="true"
CONSCIOUSDISCORDWEBHOOKSLINKS=""
CONSCIOUSDISCORDWEBHOOKSNAME=""
CONSCIOUSDISCORDWEBHOOKSICONURL=""
CONSCIOUSCOLOR="#03AC3D"
CONSCIOUSINLINE="false"

UNCONSCIOUS="true"
UNCONSCIOUSDISCORDWEBHOOKS="true"
UNCONSCIOUSDISCORDWEBHOOKSLINKS=""
UNCONSCIOUSDISCORDWEBHOOKSNAME=""
UNCONSCIOUSDISCORDWEBHOOKSICONURL=""
UNCONSCIOUSCOLOR="#FF6100"
UNCONSCIOUSINLINE="false"

HITSHOT="true"
HITSHOTDISCORDWEBHOOKS="true"
HITSHOTDISCORDWEBHOOKSLINKS=""
HITSHOTDISCORDWEBHOOKSNAME=""
HITSHOTDISCORDWEBHOOKSICONURL=""
HITSHOTCOLOR="#FF9900"
HITSHOTINLINE="false"

HITMELEEPLAYER="true"
HITMELEEPLAYERDISCORDWEBHOOKS="true"
HITMELEEPLAYERDISCORDWEBHOOKSLINKS=""
HITMELEEPLAYERDISCORDWEBHOOKSNAME=""
HITMELEEPLAYERDISCORDWEBHOOKSICONURL=""
HITMELEEPLAYERCOLOR="#FF9900"
HITMELEEPLAYERINLINE="false"

HITMELEE="true"
HITMELEEDISCORDWEBHOOKS="true"
HITMELEEDISCORDWEBHOOKSLINKS=""
HITMELEEDISCORDWEBHOOKSNAME=""
HITMELEEDISCORDWEBHOOKSICONURL=""
HITMELEECOLOR="#FF9900"
HITMELEEINLINE="false"

HITFALL="true"
HITFALLDISCORDWEBHOOKS="true"
HITFALLDISCORDWEBHOOKSLINKS=""
HITFALLDISCORDWEBHOOKSNAME=""
HITFALLDISCORDWEBHOOKSICONURL=""
HITFALLCOLOR="#FF9900"
HITFALLINLINE="false"

HITGENERIC="true"
HITGENERICDISCORDWEBHOOKS="true"
HITGENERICDISCORDWEBHOOKSLINKS=""
HITGENERICDISCORDWEBHOOKSNAME=""
HITGENERICDISCORDWEBHOOKSICONURL=""
HITGENERICCOLOR="#FF9900"
HITGENERICINLINE="false"

DEATHSHOT="true"
DEATHSHOTDISCORDWEBHOOKS="true"
DEATHSHOTDISCORDWEBHOOKSLINKS=""
DEATHSHOTDISCORDWEBHOOKSNAME=""
DEATHSHOTDISCORDWEBHOOKSICONURL=""
DEATHSHOTCOLOR="#D80000"
DEATHSHOTINLINE="false"

DEATHMELEEPLAYER="true"
DEATHMELEEPLAYERDISCORDWEBHOOKS="true"
DEATHMELEEPLAYERDISCORDWEBHOOKSLINKS=""
DEATHMELEEPLAYERDISCORDWEBHOOKSNAME=""
DEATHMELEEPLAYERDISCORDWEBHOOKSICONURL=""
DEATHMELEEPLAYERCOLOR="#D80000"
DEATHMELEEPLAYERINLINE="false"

DEATHMELEE="true"
DEATHMELEEDISCORDWEBHOOKS="true"
DEATHMELEEDISCORDWEBHOOKSLINKS=""
DEATHMELEEDISCORDWEBHOOKSNAME=""
DEATHMELEEDISCORDWEBHOOKSICONURL=""
DEATHMELEECOLOR="#D80000"
DEATHMELEEINLINE="false"

DEATHSTATS="true"
DEATHSTATSDISCORDWEBHOOKS="true"
DEATHSTATSDISCORDWEBHOOKSLINKS=""
DEATHSTATSDISCORDWEBHOOKSNAME=""
DEATHSTATSDISCORDWEBHOOKSICONURL=""
DEATHSTATSCOLOR="#D80000"
DEATHSTATSINLINE="false"

DEATHSUICIDE="true"
DEATHSUICIDEDISCORDWEBHOOKS="true"
DEATHSUICIDEDISCORDWEBHOOKSLINKS=""
DEATHSUICIDEDISCORDWEBHOOKSNAME=""
DEATHSUICIDEDISCORDWEBHOOKSICONURL=""
DEATHSUICIDECOLOR="#D80000"
DEATHSUICIDEINLINE="false"

DEATHBLEEDING="true"
DEATHBLEEDINGDISCORDWEBHOOKS="true"
DEATHBLEEDINGDISCORDWEBHOOKSLINKS=""
DEATHBLEEDINGDISCORDWEBHOOKSNAME=""
DEATHBLEEDINGDISCORDWEBHOOKSICONURL=""
DEATHBLEEDINGCOLOR="#D80000"
DEATHBLEEDINGINLINE="false"

PLACEMENT="true"
PLACEMENTDISCORDWEBHOOKS="true"
PLACEMENTDISCORDWEBHOOKSLINKS=""
PLACEMENTDISCORDWEBHOOKSNAME=""
PLACEMENTDISCORDWEBHOOKSICONURL=""
PLACEMENTCOLOR="#A459FF"
PLACEMENTINLINE="false"

BUILT="true"
BUILTDISCORDWEBHOOKS="true"
BUILTDISCORDWEBHOOKSLINKS=""
BUILTDISCORDWEBHOOKSNAME=""
BUILTDISCORDWEBHOOKSICONURL=""
BUILTCOLOR="#F03EE8"
BUILTINLINE="false"

DISMANTLED="true"
DISMANTLEDDISCORDWEBHOOKS="true"
DISMANTLEDDISCORDWEBHOOKSLINKS=""
DISMANTLEDDISCORDWEBHOOKSNAME=""
DISMANTLEDDISCORDWEBHOOKSICONURL=""
DISMANTLEDCOLOR="#00D7F1"
DISMANTLEDINLINE="false"

PLAYERLIST="true"
PLAYERLISTDISCORDWEBHOOKS="true"
PLAYERLISTDISCORDWEBHOOKSLINKS=""
PLAYERLISTDISCORDWEBHOOKSNAME=""
PLAYERLISTDISCORDWEBHOOKSICONURL=""
PLAYERLISTCOLOR="#E4D800"
PLAYERLISTINLINE="false"